/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {

	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Style */
body {
    font: 15px/30px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(../img/ripples.png);
    color: #333;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 25px;
}

.header .title {
    font-size: 50px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 25px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: tomato;
    padding: 5px;
    font-weight: 700;
}

.header a:hover {
    background-color: skyblue;
    color: whitesmoke;
}

.hero {
    height: 270px;
    background-image: url(../img/hero.png);
    background-size: cover;
    border-top: 3px solid tan;
    border-bottom: 3px solid turquoise;
}

.content {
    padding: 25px;
}

.content h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.footer {

    background-color: #333;
    padding: 10px;
}

.footer .cr {

    color: #eaeaea;
    text-align: center;
    font-size: 15px;
}

.footer .credits {

    color: #eaeaea;
    text-align: center;
    font-size: 10px;
}

.footer .credits a {

    text-decoration: none;
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
    color: tomato;
}

.footer-top {

    background-color: #ffffff;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #F9F9F9;
}

.footer-top h1 {

    color: #333;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.footer-top .social-media {

    text-align: center;
    padding-bottom: 10px;
}

.footer-top .social-media a{

    text-align: center;
    font-size: 20px;
    color: #8094b7;
    transition: 0.3s;
    padding: 5px;
    text-decoration: none;
}

.footer-top .social-media a:hover {

    color: #012970;
}

.main {
    width: 600px;
    box-sizing: border-box;
    float: left;
}

.main h3 {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 25px;
}

.main p {
    text-indent: 25px;
}

.sidebar {
    width: 300px;
    float: right;
}

.sidebar img {
    width: 100px;
    height: 100px;
}

.sidebar h4 {
    font-weight: bold;
    color: #666;
}

.sidebar p {
    font: 12px/18px arial bold;
}

/* Style Form contact, login, signup*/

.form-section h1{
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.border {
    width: 100px;
    height: 10px;
    background: #344759;
    margin: 40px auto;
    padding: 0 0;
}

.form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.form-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #333;
    padding: 25px 50px;
    outline: none;
    color: #ffffff;
    transition: 1s;
}

.form-text:focus {
    box-shadow: 0 0 9px 3px #34495a;
}

textarea.form-text{
    resize: none;
    height: 200px;
}

.form-btn {
    float: right;
    border: 0;
    background: #20496b;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.form-btn:hover {
    background: #2980a9;
}


/*Style menu*/

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    max-width: 400px;
    margin: 0 auto;
}

.menu-section, .content-data {
    width: 100%;
}

select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    border: 2px solid #333;
    appearance: none;
    background: #Dde1eb url(../img/arrow.png) no-repeat;
    background-position: 95% 55%;
    background-size: 22px;
}

.content-data {
    margin: 30px 0;
}

.content-data .data {
    padding: 25px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 8px;
}

.content-data p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}

.data {
    display: none;
    text-align: center;
}

.data a {
    color: tomato;
    text-decoration: none;
    padding: 5px;
}

.data a:hover {

    background-color: skyblue;
    color: whitesmoke;
}

.links a {
    text-decoration: none;
    color: tomato;
    padding: 5px;
    font-weight: 700;
}

.form-section .statusMsg{font-size:18px; font-style: italic;}
.form-section .succdiv{color: #008000;}
.form-section .errordiv{color:#E80000;}
